<div class="container-fluid about text-center">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="back">
                    <a [routerLink]="['Home']">
                        <i class="fa fa-h1 fa-arrow-circle-o-left pull-left" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="row projects spacer-bottom">
                    <div class="col-md-offset-1 col-md-5">
                        <a href="http://league.chat">
                            <h1>League Chat</h1>
                            <img width="300" src="/images/work/leaguechat.png" />
                        </a>
                    </div>
                    <div class="col-md-5">
                        <a href="http://riftlore.com">
                            <h1>Rift Lore</h1>
                            <img width="300" src="/images/work/riftgrab2.png" />
                        </a>
                    </div>
                    <!-- <div class="col-md-4">
                        <a (click)="preventCrawlSpam()">
                            <h1>Resume</h1>
                            <img width="300" src="/images/work/resumepreview.png" />
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
