<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-push-3 col-sm-6 text-center">
            <h1>
                Patrick T. Lawler
            </h1>
            <h4>
                full-stack engineer
            </h4>
        </div>
        <div class="col-sm-offset-0 col-sm-pull-6 col-sm-3 col-xs-12 text-center">
            <a [routerLink]="['Music']"><button class="btn btn-lg btn-white">About</button></a>
        </div>
        <!-- <div class="col-sm-3 col-xs-12 text-center">
            <button class="btn btn-lg btn-white">Portfolio</button>
        </div> -->
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <!-- <div class="headshot text-center">
                <img src="/images/headshotsm.png"/>
            </div> -->
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-push-4 headshot text-center">
            <img src="/images/headshotsm.png"/>
        </div>
        <div class="col-xs-3 col-sm-pull-4 col-sm-2 fa-h1">
            <a href="https://www.linkedin.com/in/patricktlawler">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-xs-3 col-sm-pull-4 col-sm-2 fa-h1">
            <a href="http://www.github.com/trickpattyFH20">
                <i class="fa fa-github-square" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-xs-3 col-sm-2 fa-h1">
            <a href="http://www.twitter.com/trickpattyyo">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-xs-3 col-sm-2 fa-h1">
            <a (click)="sendEmail()">
                <i class="fa fa-envelope-square" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
